{% extends 'base/base_toolbar.html' %}
{% load staticfiles %}

{% block title %}我{% endblock title %}

{% block css_js_reference %}
    <link rel="stylesheet" href="{% static 'farm/css/me.css' %}" type="text/css" />
{% endblock css_js_reference %}

{% block toolbar_body %}

    <div class="container text-center">
        
        <img class="me_head_img" src="{% static 'common/icon/ic_admin.png' %}">
        <p class="me_username_p">管理员</p> 
        <p class="me_info_p">CreeperSan</p>
        <p class="me_info_p">是否员工 ：是</p>
        <p class="me_info_p">是否停用 ：否</p>
        <p class="me_info_p">2017-12-01 09:15:36</p>
    </div>

{% endblock toolbar_body %}